html, body {
  width: 100%;
  height: 100%;
}

html {
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b4f364;
}

.qtb-hidden {
  display: none;
}

.qtb-pages-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.qtb-page {
  overflow: hidden;

}

.qtb-active-page {
  margin-top: 50px;
  margin-bottom: 50px;
}

.qtb-page:not(.qtb-active-page) {
  display: none;
}

i.material-icons {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}


.qtb-spinner-container {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
}

.qtb-spinner-image {
  width: 100%;
  height: 100%;
}

.qtb-loading-background {
  position: absolute;
  width: 100%;
  height: 200%;
  background: $loading_background;
  z-index: 10;
}
