$secondary-color-dark: rgba(255, 202, 0, 1);
$primary-color-dark: rgba(150, 1, 1, 1);
$primary-color-light: #ae0001;
$secondary-color-dark: #ffca00;
$white: #ffffff;

//TODO
//$second-color-light:;
$primary-r-light: 255;
$primary-g-light: 202;
$primary-b-light: 0;
$primary-r-dark: 150;
$primary-g-dark: 1;
$primary-b-dark: 1;

$home-bg-search-input: rgba(255, 255, 255, 0.5);
$home-bg-search-input-placeholder: rgba(150, 1, 1, 0.2);
$home-bg-search-input-icon: rgba(255, 255, 255, 0.5);
$home-bg-search-input-icon-hover: rgba(255, 255, 255, 0.7);
$home-search-input-icon-color: rgba(150, 1, 1, 1);
$home-bg-search-input-button: rgba(255, 255, 255, 0.5);
$home-bg-search-results-list-hover: rgba(255, 255, 255, 0.9);
$disabled: rgb(214, 214, 214);


