label.active {
  left: 0 !important;
  transform: translateY(-200%) !important; }

.qtb-text-area {
  max-width: 100%;
  background-color: #F0F0F0;
  border-radius: 2px;
  height: 100px; }

input[type=text].qtb-text-field:focus:not([readonly]), input[type=email].qtb-email-field:focus:not([readonly]) {
  border-bottom: 1px solid #960101;
  box-shadow: 0 1px 0 0 #960101; }

textarea {
  outline-width: 0;
  border: 0;
  border-bottom: 1px solid #9e9e9e; }
  textarea:focus:not([readonly]) {
    border-bottom: 1px solid #960101;
    box-shadow: 0 1px 0 0 #960101; }

.qtb-logo-selector-wrapper {
  border-bottom: 1px solid #960101; }

.btn.qtb-contact-btn, .btn.qtb-manage-team-select-logo-image-btn {
  cursor: pointer;
  background-color: #ae0001;
  color: #ffffff;
  white-space: nowrap; }
  .btn.qtb-contact-btn:hover, .btn.qtb-contact-btn:focus, .btn.qtb-manage-team-select-logo-image-btn:hover, .btn.qtb-manage-team-select-logo-image-btn:focus {
    background-color: #960101; }

.qtb-manage-team-fields-container {
  margin-bottom: 10px;
  overflow: hidden; }
  .qtb-manage-team-fields-container .input-field {
    margin-top: 2rem; }

select.qtb-select-input:focus {
  outline: 1px solid #ae0001; }

.qtb-cup-won-container {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer; }
  .qtb-cup-won-container i.material-icons {
    color: #d6d6d6;
    text-align: center; }
  .qtb-cup-won-container:hover i.material-icons {
    color: yellow; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b4f364; }

.qtb-hidden {
  display: none; }

.qtb-pages-container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto; }

.qtb-page {
  overflow: hidden; }

.qtb-active-page {
  margin-top: 50px;
  margin-bottom: 50px; }

.qtb-page:not(.qtb-active-page) {
  display: none; }

i.material-icons {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */ }

.qtb-spinner-container {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 100px;
  height: 100px; }

.qtb-spinner-image {
  width: 100%;
  height: 100%; }

.qtb-loading-background {
  position: absolute;
  width: 100%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.qtb-home-map {
  height: 100%; }

.qtb-nav {
  background-color: rgba(150, 1, 1, 0.8);
  height: 48px;
  line-height: 48px; }
  .qtb-nav .qtb-side-nav-open-btn {
    display: block;
    margin: 0 18px;
    height: 48px;
    cursor: pointer; }
    .qtb-nav .qtb-side-nav-open-btn i.material-icons {
      height: 100%;
      line-height: 48px; }
  .qtb-nav .qtb-side-nav-close-btn i.material-icons {
    height: 48px;
    line-height: 48px; }
  .qtb-nav .brand-logo {
    font-size: 14px;
    height: 48px; }
    .qtb-nav .brand-logo img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle; }

.qtb-disclaimer {
  padding: 10px;
  text-align: center;
  background-color: #E13300;
  color: #ffff00; }

.qtb-lang-list .qtb-lang-flag {
  display: inline-block;
  vertical-align: middle;
  max-height: 24px; }

.qtb-search-form {
  overflow: hidden; }
  .qtb-search-form label.qtb-search-label {
    display: block;
    font-size: 35px;
    text-align: center;
    color: #960101; }
  .qtb-search-form input[type=text].qtb-search-input {
    height: 46px;
    margin-bottom: 0;
    font-size: 15px;
    float: left;
    background: rgba(255, 255, 255, 0.5) !important;
    border: none;
    border-radius: 2px; }
    .qtb-search-form input[type=text].qtb-search-input.with-results {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .qtb-search-form input[type=text].qtb-search-input:focus {
      border-bottom: none !important;
      box-shadow: none !important; }
  .qtb-search-form .qtb-search-aside-icon-container {
    height: 46px; }
    .qtb-search-form .qtb-search-aside-icon-container i.material-icons {
      width: 100%;
      height: 100%;
      line-height: 46px;
      text-align: center;
      color: #960101; }
  .qtb-search-form .qtb-search-spinner-container {
    width: 5%;
    float: left; }
    .qtb-search-form .qtb-search-spinner-container i.material-icons {
      font-size: 40px; }
  .qtb-search-form .qtb-search-icon-container {
    width: 10%;
    float: right;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 25px; }
    .qtb-search-form .qtb-search-icon-container:hover {
      background-color: rgba(255, 255, 255, 0.7); }
    .qtb-search-form .qtb-search-icon-container i.material-icons {
      color: #960101; }
  .qtb-search-form input::-webkit-input-placeholder {
    color: rgba(150, 1, 1, 0.2); }
  .qtb-search-form input:-ms-input-placeholder {
    color: rgba(150, 1, 1, 0.2); }
  .qtb-search-form input::-moz-placeholder {
    color: rgba(150, 1, 1, 0.2); }

.qtb-spinner-icon:not(.qtb-hidden) {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.qtb-search-input-results-list-container ul.qtb-search-input-results-list {
  margin-top: 0; }
.qtb-search-input-results-list-container li.qtb-search-input-result {
  display: block;
  background: #FFFFFF;
  height: 46px;
  line-height: 46px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .qtb-search-input-results-list-container li.qtb-search-input-result:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9); }
  .qtb-search-input-results-list-container li.qtb-search-input-result:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  .qtb-search-input-results-list-container li.qtb-search-input-result img.qtb-search-input-result-logo {
    max-height: 34px;
    margin: 0 10px;
    vertical-align: middle; }

.qtb-last-teams-list-wrapper {
  background-color: rgba(255, 255, 255, 0.9); }

.qtb-home-last-team:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9); }
.qtb-home-last-team span {
  padding: 20px 0px; }
.qtb-home-last-team a {
  text-decoration: none;
  color: #000000; }
.qtb-home-last-team:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.qtb-last-teams-title {
  display: block;
  font-size: 25px;
  text-align: center;
  color: #960101; }

.qtb-home-last-team-logo {
  max-height: 34px;
  vertical-align: middle;
  margin: 0 10px; }

.qtb-last-teams-container {
  margin-top: 25px; }

.qtb-team-profile-container {
  background: white;
  border-radius: 2px;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important; }

.qtb-team-profile-info {
  margin: 0; }
  .qtb-team-profile-info li {
    margin: 5px 0; }

li.qtb-team-profile-name {
  font-size: 21px;
  font-weight: bold;
  margin: 5px 0 15px 0; }

.qtb-team-profile-province {
  font-weight: bold; }

.qtb-team-profile-logo {
  width: 100%;
  height: auto; }

.qtb-team-profile-contact-title {
  font-size: 16px; }

.qtb-team-profile-contact-form-container {
  margin-top: 15px; }
  .qtb-team-profile-contact-form-container .col {
    padding: 0 !important; }

.qtb-team-profile-controls-btn#edit_team {
  background: #fff121;
  cursor: pointer;
  color: #ae0001; }

.qtb-manage-team-container {
  background: white;
  border-radius: 2px;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important; }

.qtb-manage-team-logo-previsualize {
  max-height: 200px !important;
  padding: 0 !important;
  margin-bottom: 10px; }
  .qtb-manage-team-logo-previsualize img.qtb-team-logo-previsualize-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block; }

.qtb-manage-team-form-section-title {
  text-align: center; }

.qtb-logo-selector-wrapper {
  padding-bottom: 10px !important; }

#manage_team_logo_path {
  display: none; }

#manage_team_map {
  height: 300px; }

input#qtb-search-input {
  width: 200px;
  height: 29px;
  margin-top: 10px;
  background: #ffffff; }

div.qtb-cropper-controls-btn {
  width: 100%;
  margin: 5px 0;
  background-color: #960101;
  color: #ffffff; }
  div.qtb-cropper-controls-btn#cropper_done {
    background-color: #228D00; }
  div.qtb-cropper-controls-btn#cropper_clear {
    background-color: #FF1300; }
  div.qtb-cropper-controls-btn.qtb-cropper-controls-zoom {
    background-color: #3AAACF; }
  div.qtb-cropper-controls-btn:focus, div.qtb-cropper-controls-btn:hover {
    background-color: #ae0001; }
  div.qtb-cropper-controls-btn.col {
    padding: 0; }
  div.qtb-cropper-controls-btn.disabled {
    background-color: #d6d6d6 !important; }

#home-map {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  margin: 0;
  left: 0; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#qt-search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#qt-search-input:focus {
  border-color: #4d90fe; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

.qtb-infowindow-container {
  width: 200px;
  text-align: center; }
  .qtb-infowindow-container .qtb-infowindow-team-logo-container {
    max-width: 75px;
    margin: 0 auto; }
    .qtb-infowindow-container .qtb-infowindow-team-logo-container img {
      display: block;
      width: 100%; }
  .qtb-infowindow-container .qtb-infowindow-team-name {
    font-size: 16px;
    font-weight: bold; }
  .qtb-infowindow-container .qtb-infowindow-team-location {
    font-size: 14px; }

/*# sourceMappingURL=main.css.map */
