label.qtb-search-label {
  display: block;
  font-size: 35px;
  text-align: center;
  color: $primary-color-dark;
}
input[type=text].qtb-search-input {
  height: 46px;
  //padding: 0 40px;
  font-size: 25px;
  float:left;
  background: $home-bg-search-input !important;
  border: none;
  border-radius: 2px;
  &:focus {
    border-bottom: none!important;
    box-shadow: none!important;
  }
}
.qtb-search-btn.btn {
  background-color: $home-bg-search-input-button;
  float: right;
  margin: 0 auto;
}

input::-webkit-input-placeholder {
  color: $home-bg-search-input-placeholder;
}

input:-ms-input-placeholder {
  color: $home-bg-search-input-placeholder;
}

input::-moz-placeholder {
  color: $home-bg-search-input-placeholder;
}
