.qtb-manage-team-container {
  background: white;
  border-radius: 2px;
  padding-top: 0.75rem!important;
  padding-bottom: 0.75rem!important;
}


.qtb-manage-team-logo-previsualize {
  max-height: 200px!important;
  padding: 0!important;
  margin-bottom: 10px;

  & img.qtb-team-logo-previsualize-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
  }
}

.qtb-manage-team-form-section-title {
  text-align: center;
}

.qtb-logo-selector-wrapper {
  padding-bottom: 10px!important;
}

#manage_team_logo_path {
  display: none;
}

div.qtb-cropper-controls-btn {
  width: 100%;
  margin: 5px 0;
  background-color: $primary-color-dark;
  color: $white;

  &:focus, &:hover {
    background-color: $primary-color-light;
  }

  &.col {
    padding: 0;
  }

  &.disabled {
    background-color: $disabled;
  }
}

